/* Importar fuente personalizada de Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Normalizar documento */
*{
    margin: 0; padding: 0; box-sizing: content-box;
}

body{
    font-family: 'Lato', 'Arial', sans-serif;
}

/*Definición de CSS Variables */
:root{
    /*Variables de colores principales*/
    --c-primario: #3CBAC8;
    --c-secundario: #93EDD4;
    --c-terciario: #FFA688;
    --c-claro: #F3F5C4;
    --c-oscuro: #F9CB8F;
    --c-masoscuro: #3CBAFA;

    /*Variables de dimensiones*/
    --iframe-width: 650px;
    --iframe-heigth: 450px;

}

/* ************************** Layaout de la aplicación con CSS Grid**************************** */
.contenedor{
    background: var(--c-primario);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 50px;
    overflow-x: hidden;
}

.header{
    background: var(--c-secundario);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.menu{
    background: var(--c-terciario);
    display: none;
}

.main{
    background: var(--c-terciario);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.footer{
    background: var(--c-oscuro);
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
/* ******************************************************************************************** */

/* Estilos para el contenido princiapal */
.main{
    padding: 1em;
}

.main .instruccion{
    width: 90%;
    margin: 0 auto;
    border: 5px solid var(--c-claro);
    border-radius: 10px;
    background: var(--c-claro);
}

.main .instruccion p{
    margin: 0; padding: 0;
    text-align: center;
    font-weight: bold;
}

.main .contenedor-iframe{
    width: 90%;
    margin: 0 auto;
    margin-top: 0%;
    border: 1px solid #F9CB8F;
    text-align: center;
    overflow-x: auto;
}

.main .contenedor-iframe iframe{
    width: var(--iframe-width); 
    height: var(--iframe-heigth);
}

/* Estilos para la barra de navegación */
.nav * {
    color: var(--c-masoscuro);
}
.nav .nav-links li:hover{
    text-align: center;
    margin: 0 auto;
    transition: background 0.5s;
}

.nav .nav-links li a{
    display: block;
    padding: 5px;
    font-weight: bold;
}

.nav .menu-open{
    display: inline-block;
    margin: 5px auto 5px 15px;
    
}

.nav{
    position: relative;
}

.nav .nav-toggle{
    position: absolute;
    top: 5px;
    right: 15px;
}

/* ***************** Utilidades ***************** */
/* Normalizar los links y listas */
.lista-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista-links li a{
    text-decoration: none;
}

/* Utilidades */
.icono-grande{
    font-size: 25px;
    cursor: pointer;
}